body {
    background-color: #f5f5f5;
  }
  .card {
    background-color: #FFD049;
    border: none;
  }
  .btn-primary {
    background-color: #009688;
    border: none;
  }
  .btn-primary:hover {
    background-color: #00796B;
  }
  .form-control {
    background-color: #fff3e0;
    border: 1px solid #ccc;
  }