.gerenc-tarefas{
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}

.gerenc-tarefas:hover{
    color: #fff;
    background-color: #000;
}

.form{
    width: 500px;
    display: flex;
}

@media screen and (max-width: 720px)  {

    .form{
        display:block;
    }

    .add{
        max-width: 60%; 
    }

    .btn-add{
        margin: 8px;
        
        
    }

    .dropdown-class{
        width: 50%;

    }
}